@import 'tailwindcss';

@theme {
  --color-background: #f1f5f9;
  --color-background-dark: rgb(23 37 84);
  --color-text-primary: rgb(51 65 85);
  --color-text-secondary: rgb(100 116 139);
  --color-text-muted: rgb(148 163 184);
  --color-text-inverse: rgb(255 255 255);
  --color-text-link: rgb(37 99 235);
  --color-brand-primary: rgb(37 99 235);
  --color-brand-dark: rgb(23 37 84);
  --font-sans:
    var(--font-inter), var(--font-inter-tight),
    ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-background text-text-primary font-sans;
}
