@import 'tailwindcss';

@theme {
  --color-background: #f1f5f9;
  --color-background-dark: rgb(23 37 84);
  --color-text-primary: rgb(51 65 85);
  --color-text-secondary: rgb(100 116 139);
  --color-text-muted: rgb(148 163 184);
  --color-text-inverse: rgb(255 255 255);
  --color-text-link: rgb(37 99 235);
  --color-brand-primary: rgb(37 99 235);
  --color-brand-dark: rgb(23 37 84);
  --font-sans:
    var(--font-inter), var(--font-inter-tight),
    ui-sans-serif, system-ui, sans-serif;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
body {
  @apply bg-background text-text-primary font-sans;
}

@layer utilities {
  .text-body-sm {
    font-size: 14px;
    line-height: 1.5;
  }

  .text-body-md {
    font-size: 16px;
    line-height: 1.5;
  }

  .text-body-lg {
    font-size: 18px;
    line-height: 1.5;
  }
  .text-tag {
    font-size: 12px;
    line-height: 20px;
  }

  .border-b {
    border-bottom-width: 1px;
  }

  .rounded-sm {
    border-radius: 0.125rem;
  }
  @media (min-width: 1024px) {
    .lg\:text-body-md {
      font-size: 16px;
      line-height: 1.5;
    }
    .lg\:text-body-lg {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  @media (max-width: 1024px) {
    .md\:text-body-md {
      font-size: 14px;
      line-height: 1.5;
    }
    .text-body-md {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
